<!-- START REVOLUTION SLIDER 5.0 -->
	<div id="slider_container" class="rev_slider_wrapper">
		<div id="rev-slider" class="rev_slider"  data-version="5.0">
			<ul>
				<li data-transition="slideremoveright">
					<!-- MAIN IMAGE -->
					<img src="img/slider/slide-bg13.jpg"  alt=""  width="1920" height="1020" />
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cap-text-bold default-text"
						id="slide-1-layer-1"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="300"
						data-width="['900','900','900','900']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: normal;">Most amazing HTML5 template
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption cap-text-title default-text"
						id="slide-1-layer-2"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="240"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="2000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;">Welcome to Anakual
					</div>
					<!-- LAYER NR. 3 -->
					<a class="tp-caption cap-btn btn-default btn btn-md"
						id="slide-1-layer-3"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Learn more
					</a>
					<!-- LAYER NR. 4 -->
					<a class="tp-caption cap-btn btn btn-default btn-bordered btn-md"
						id="slide-1-layer-4"
						data-x="left" data-hoffset="340"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Purchase now
					</a>
				</li>
				<li data-transition="slideremoveright">
					<!-- MAIN IMAGE -->
					<img src="img/slider/slide-bg14.jpg"  alt=""  width="1920" height="1020" />
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cap-text-bold default-text"
						id="slide-2-layer-1"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="300"
						data-width="['900','900','900','900']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: normal;">Fully responsive HTML5 template
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption cap-text-title default-text"
						id="slide-2-layer-2"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="240"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="2000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;">We are responsive
					</div>
					<!-- LAYER NR. 3 -->
					<a class="tp-caption cap-btn btn-default btn btn-md"
						id="slide-2-layer-3"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Learn more
					</a>
					<!-- LAYER NR. 4 -->
					<a class="tp-caption cap-btn btn btn-default btn-bordered btn-md"
						id="slide-2-layer-4"
						data-x="left" data-hoffset="340"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Our features
					</a>
				</li>
				<li data-transition="slideremoveright">
					<!-- MAIN IMAGE -->
					<img src="img/slider/slide-bg15.jpg"  alt=""  width="1920" height="1020" />
					<!-- LAYER NR. 1 -->
					<div class="tp-caption cap-text-bold default-text"
						id="slide-3-layer-1"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="300"
						data-width="['900','900','900','900']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="1000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: normal;">Multiple premium template only $17
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption cap-text-title default-text"
						id="slide-3-layer-2"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="240"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="2000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;">All in one package
					</div>
					<!-- LAYER NR. 3 -->
					<a class="tp-caption cap-btn btn-default btn btn-md"
						id="slide-3-layer-3"
						data-x="left" data-hoffset="160"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Learn more
					</a>
					<!-- LAYER NR. 4 -->
					<a class="tp-caption cap-btn btn btn-default btn-bordered btn-md"
						id="slide-3-layer-4"
						data-x="left" data-hoffset="340"
						data-y="top" data-voffset="520"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeOut;"
						data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
						data-start="3000"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="z-index: 5; white-space: nowrap;" href="#">Download now
					</a>
				</li>
			</ul>
		</div><!-- END REVOLUTION SLIDER -->
	</div>
	<!-- END OF SLIDER WRAPPER -->

    <!-- Start contain wrapp -->
	<div class="contain-wrapp padding-bot50">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h2>Anakual corporate template</h2>
						<p>Anakual is the most amazing bootstrap 3 template with lot features that are easily customizable and looks great in all devices</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="absolute-icon">
						<i class="icon icon-mobile"></i>
						<h4>Fully serponsive</h4>
						<p>
						Assueverit nec pri summo iusto ignota eu. Qui id mutat vidisse principes, nemore molestie pri cu, ad cum veritus ancillae consetetur.
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="absolute-icon">
						<i class="icon icon-tools"></i>
						<h4>Easy to customize</h4>
						<p>
						Assueverit nec pri summo iusto ignota eu. Qui id mutat vidisse principes, nemore molestie pri cu, ad cum veritus ancillae consetetur.
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="absolute-icon">
						<i class="icon icon-trophy"></i>
						<h4>Lot features</h4>
						<p>
						Assueverit nec pri summo iusto ignota eu. Qui id mutat vidisse principes, nemore molestie pri cu, ad cum veritus ancillae consetetur.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- End contain wrapp -->

    <!-- Start contain wrapp -->
	<div class="contain-wrapp gray-container padding-bot70">
		<div class="container">
			<div class="row margintop20">
				<div class="col-md-6 marginbot30">
					<!-- Start video wrapp -->
                    <div class="video-wrapper">
                        <div class="play-icon small"><a href="#"><i class="fa fa-play"></i></a></div>
                        <img src="img/video-half.jpg" class="img-responsive" alt="" />
                        <div id="video1" class="jp-jplayer video"
                             data-media="video"
                             data-title="Big Buck Bunny"
                             data-m4v="video/idea.m4v"
                             data-ogv="video/idea.ogv"
                             data-webmv="video/idea.webm"
                             data-container="#jp_container2"></div>
                        <div id="jp_container2" class="jp-audio">
                            <table class="table-audio">
                                <tr>
                                    <td class="toggle-play">
                                        <a href="#" class="jp-play"><i class="fa fa-play-circle"></i></a>
                                        <a href="#" class="jp-pause"><i class="fa fa-pause"></i></a>
                                    </td>
                                    <td class="time"><span class="jp-current-time"></span></td>
                                    <td class="Progres-audio">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="time"><span class="jp-duration"></span></td>
                                    <td class="toggle-mute">
                                        <a href="#" class="jp-unmute"><i class="fa fa-volume-up"></i></a>
                                          <a href="#" class="jp-mute"><i class="fa fa-volume-down"></i></a>
                                    </td>
                                    <td class="volume-bar">
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="jp-no-solution">
                                <strong>Update Required</strong>
                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                            </div>
                        </div>
                    </div>
                    <!-- End video wrapp -->
				</div>
				<div class="col-md-6">
					<h4>More than <span>100k clients...</span> joining with Anakual business community</h4>
					<p>
					Suas eruditi vix ex. Scriptorem delicatissimi usu et. Cu virtute expetendis eam, et sit eleifend pertinacia complectitur. Debet error everti ex pri, an vis soluta alienum intellegat. Nusquam praesent ea per, sit no nibh fabulas, pri modo tibique percipitur an.
					</p>
					<ul class="list-icons">
						<li><i class="fa fa-check"></i> All in one package</li>
						<li><i class="fa fa-check"></i> 100% responsive</li>
						<li><i class="fa fa-check"></i> Support modern browser</li>
						<li><i class="fa fa-check"></i> Full documentanion and support</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <!-- End contain wrapp -->

	<!-- Start parallax -->
	<div class="parallax" data-background="img/parallax/bg01.jpg" data-speed="0.5" data-size="50%">
		<div class="overlay"></div>
		<div class="container">
			<div class="content-parallax">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<div class="headline">
							<h2>Start your business journey with a amazing template</h2>
							<p class="btn-horizontal"><a href="#" class="btn btn-lg">Purchase now</a> <a href="#" class="btn btn-bordered btn-lg">View live demo</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End parallax -->

    <!-- Start contain wrapp -->
	<div class="contain-wrapp padding-bot60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h2>Meet our team</h2>
						<p>Supported by professional team with experience of more than a decade</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 owl-column-wrapp">
					<div id="recent-4column" class="owl-carousel leftControls-right lg-nav">
						<!-- Strat team 1 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img07.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Founder</span>
								<h5>Angling darma</h5>
								<p>Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant. </p>
							</div>
						</div>
						<!-- End team 1 -->

						<!-- Strat team 2 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img08.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Co-Founder</span>
								<h5>Angling kusuma</h5>
								<p>
								 Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant.
								 </p>
							</div>
						</div>
						<!-- End team 2 -->

						<!-- Strat team 3 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img09.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Manager</span>
								<h5>Batik madrim</h5>
								<p>
								 Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant.
								 </p>
							</div>
						</div>
						<!-- End team 3 -->

						<!-- Strat team 4 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img10.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Designer</span>
								<h5>Loro jongrang</h5>
								<p>
								 Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant.
								 </p>
							</div>
						</div>
						<!-- End team 4 -->

						<!-- Strat team 5 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img11.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Manager</span>
								<h5>Sangkuriang</h5>
								<p>
								 Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant.
								 </p>
							</div>
						</div>
						<!-- End team 5 -->

						<!-- Strat team 6 -->
						<div class="item">
							<div class="img-wrapper">
								<div class="img-caption capZoomInDown">
									<div class="network">
										<div>
											<a href="#"><i class="icon icon-facebook"></i></a>
											<a href="#"><i class="icon icon-twitter"></i></a>
											<a href="#"><i class="icon icon-googleplus"></i></a>
											<a href="#"><i class="icon icon-linkedin"></i></a>
										</div>
									</div>
								</div>
								<img src="img/team/img12.jpg" class="img-responsive" alt="" />
							</div>
							<div class="team-content nowrapp">
								<span>Designer</span>
								<h5>Dayang sumbi</h5>
								<p>
								 Copiosae suscipiantur et eum, te modus delicatissimi sea, feugiat graecis has ut. Cu eius error adolescens eos ex putant.
								 </p>
							</div>
						</div>
						<!-- End team 6 -->
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- End contain wrapp -->

    <!-- Start contain wrapp -->
	<div class="contain-wrapp gray-container padding-bot70">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h2>Latest project</h2>
						<p>More than 1000 free and premium high-quality design</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- Start gallery filter  -->
					<ul class="filter-items">
						<li><a href="#" data-filter="" class="active">All</a></li>
						<li><a href="#" data-filter="web">Web</a></li>
						<li><a href="#" data-filter="graphic">Graphic</a></li>
						<li><a href="#" data-filter="logo">Logo</a></li>
						<li><a href="#" data-filter="app">App</a></li>
					</ul>
					<!-- End gallery filter -->
				</div>
			</div>
			<div class="row">
				<div id="gallery" class="masonry gallery box resize">
					<div class="grid-sizer col-md-4 col-sm-6 col-xs-12"></div>
					<!-- Start Gallery 01 -->
					<div data-filter="web" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img01.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Dissentias</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 01 -->

					<!-- Star Gallery 02 -->
					<div data-filter="graphic" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img02.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Expetendis</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 02 -->

					<!-- Start Gallery 03 -->
					<div data-filter="app" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img03.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Sadipscing</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 03 -->

					<!-- Start Gallery 04 -->
					<div data-filter="logo" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img04.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Philosophia</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 04 -->

					<!-- Start Gallery 05 -->
					<div data-filter="logo" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img05.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Consulatu</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 05 -->

					<!-- Start Gallery 06 -->
					<div data-filter="web" class="grid-item col-md-4 col-sm-6 col-xs-12">
						<div class="img-wrapper">
							<div class="img-caption capBounceOut">
								<a href="img/gallery/zoom980x980.jpg" data-pretty="prettyPhoto" class="zoomer">
									<span><i class="icon icon-plus"></i></span>
								</a>
							</div>
							<img src="img/gallery/670x544/img06.jpg" class="img-responsive" alt="" />
						</div>
						<div class="img-content">
							<h4><a href="portfolio-detail.html">Efficiendi</a></h4>
							<span>By 99webpage</span>
						</div>
					</div>
					<!-- End Gallery 06 -->
				</div>
			</div>
		</div>
	</div>
    <!-- Start contain wrapp -->

	<!-- Start parallax -->
	<div class="parallax padding-bot50" data-background="img/parallax/bg12.jpg" data-speed="0.5" data-size="50%">
		<div class="overlay"></div>
		<div class="container">
			<div class="content-parallax">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 owl-column-wrapp text-center">
					<h5 class="head-title">Testimoni</h5>
					<div id="single-item" class="owl-carousel leftControls-right">
						<!-- Start testimoni 1 -->
						<div class="item">
							<div class="single-testimoni">
								<div class="testimoni-contain">
									<blockquote class="centered">
									<p>
									Debet error everti ex pri, an vis soluta alienum intellegat. Nusquam praesent ea per, sit no nibh fabulas, pri modo tibique percipitur an. Pri utinam legere antiopam et, veri graece semper mei ne.
									</p>
									</blockquote>
								</div>
								<div class="testimo-author">
									<a href="#"><img src="img/testimoni/avatar01.jpg" class="testimo-avatar" alt=""/></a>
									<span>Lasmini</span>
									<a href="#">Saursepuh corp.</a>
								</div>
							</div>
						</div>
						<!-- End testimoni 1 -->

						<!-- Start testimoni 2 -->
						<div class="item">
							<div class="single-testimoni">
								<div class="testimoni-contain">
									<blockquote class="centered">
									<p>
									Ei appetere iracundia pri, adhuc semper eu ius. Ea cum eius sanctus salutatus, pri at dolor legimus argumentum. Dicta laoreet vivendum pri no. Quo putant nonumes no, at gubergren instructior qui.
									</p>
									</blockquote>
								</div>
								<div class="testimo-author">
									<a href="#"><img src="img/testimoni/avatar02.jpg" class="testimo-avatar" alt=""/></a>
									<span>Brahma kumbara</span>
									<a href="#">Saursepuh corp.</a>
								</div>
							</div>
						</div>
						<!-- End testimoni 2 -->

						<!-- Start testimoni 3 -->
						<div class="item">
							<div class="single-testimoni">
								<div class="testimoni-contain">
									<blockquote class="centered">
									<p>
									Per elit falli causae ei, cu doctus fastidii nec. Scripta platonem duo ei, quidam recusabo consequat vix te. Ex simul persequeris sed, eius meis patrioque eum ne. Aliquando intellegat reformidans ad mea.
									</p>
									</blockquote>
								</div>
								<div class="testimo-author">
									<a href="#"><img src="img/testimoni/avatar03.jpg" class="testimo-avatar" alt=""/></a>
									<span>Joko tingkir</span>
									<a href="#">Tingkir inc.</a>
								</div>
							</div>
						</div>
						<!-- End testimoni 3 -->

						<!-- Start testimoni 4 -->
						<div class="item">
							<div class="single-testimoni">
								<div class="testimoni-contain">
									<blockquote class="centered">
									<p>
									Timeam ocurreret ei quo. Harum dolore maiestatis ei vis, ornatus scripserit eos cu. Tempor impedit offendit te has. Idque iudico accusata ad est, brute dissentiunt et mel. Qui augue libris an no euismod nonumes.

									</p>
									</blockquote>
								</div>
								<div class="testimo-author">
									<a href="#"><img src="img/testimoni/avatar04.jpg" class="testimo-avatar" alt=""/></a>
									<span>Dayang sumbi</span>
									<a href="#">Tkb Perahu inc.</a>
								</div>
							</div>
						</div>
						<!-- End testimoni 4 -->
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- End parallax -->

	<!-- Start contain wrapp -->
	<div class="contain-wrapp padding-bot10">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h2>Latest article</h2>
						<p>Ei his possit accusata reprimique eloquentiam et nam qui scripta.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 owl-column-wrapp">
					<div id="recent-3column" class="owl-carousel topControls">
						<!-- Start article post 1 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img01.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Te graeci blandit quo, graeco aliquip inciderint sed.</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 1 -->

						<!-- Start article post 2 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img02.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Senserit constituam delicatissimi usu et eum</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 2 -->

						<!-- Start article post 3 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img03.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Usu at populo ornatus atomorum cu nam</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 3 -->

						<!-- Start article post 4 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img04.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Recusabo assueverit at ius, dicit nostrud graeci</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 4 -->

						<!-- Start article post 5 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img05.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Singulis senserit tincidunt per, pro velit inermis</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 5 -->

						<!-- Start article post 6 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img06.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Omnis aliquip corpora eam eu has latine</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 6 -->

						<!-- Start article post 7 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img07.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Eam at dicam tempor, impedit expetendis necessi</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 7 -->

						<!-- Start article post 8 -->
						<div class="item">
							<div class="single-recent-blog">
								<div class="img-wrapper">
									<div class="img-caption capZoomInDown">
										<a href="singlepost-leftsidebar.html" class="zoomer">
											<span><i class="icon icon-attachment"></i></span>
										</a>
									</div>
									<img src="img/blog/img08.jpg" class="img-responsive" alt="" />
								</div>
								<div class="srb-content">
									<ul class="post-meta">
										<li><a href="#"><i class="fa fa-calendar"></i> 11/08/2016</a></li>
										<li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
									</ul>
									<h5><a href="#">Discere copiosae eum cu ne ocurreret gloriatur</a></h5>
								</div>
							</div>
						</div>
						<!-- End article post 8 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End contain wrapp -->

	<div class="clearfix"></div>